<head>
  {% load static %}
  <link rel="website icon" type="png" href="{% static 'images/g-logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>MauTransport LogIn</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-image: url("{% static 'images/background.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .container {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
    </style>
</head>
  <body>
    <div class="container">
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <ul class="wrapper">
          <li style="--i:2;"><input class="input" type="email" placeholder="E-mail" required="" name="email"></li>
          <li style="--i:1;"><input class="input" type="password" placeholder="Password" required="" name="password"></li>
          <button style="--i:0;">Submit</button>
        </ul>
      </form>
    </div>
  </body>
  